@import '~grommet/scss/vanilla/index';

.hero-section {
  background-image: url('/img/triangle-bg.png');
}

.primary-menu {
  a span {
    color: #4a4a4a;
    font-weight: 'bolder';
  }
}

html body .main-header {
  color: rgb(73, 81, 111);
  font-size: 6em;
}

@media (max-width: 680px) {
    html body .main-header {
        font-size: 3em;
    }
}

html body .main-subheader {
  color: rgba(73, 81, 111, 0.8);
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
  max-width: 560px; // kludge!
}

.section-header {
  color: rgb(73, 81, 111);
  margin-bottom: 1em;
  text-align: center;
}

.section-subheader {
  color: rgba(73, 81, 111, 0.8);
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: -1em;
}

.main-subhead {
  font-weight: bold;
}

.action-btn {
  text-transform: uppercase;
}

.team-box {
  margin-bottom: 50px;
  padding-bottom: 50px;
  position: relative;

  .meta-heading {
    display: inline;
    margin-bottom: 80px;
    padding: 0 15px;
    position: relative;
    text-align: left;

    .meta-image {
      border-radius: 5%;
    }

    .meta-box {
      background-color: rgb(134, 92, 214); // 'brand'
      box-sizing: border-box;
      color: #fff;
      overflow-x: hidden;
      padding: 1em 0.5em;
      position: absolute;
      right: 15px;
      top: 90%;
      width: 192px;

      .meta-name {
        font-size: 1.5em;
        font-weight: normal;
        letter-spacing: -0.05em;
        line-height: 1em;
        margin-bottom: 0.25;
      }

      .meta-role {
        font-size: 80%;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .meta-link {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.benefits-box {
  padding-top: 0;

  .meta-title {
    font-size: 2em;
    margin: 1em 0 0;
  }
}
